*{
    box-sizing: border-box;
}
body{
    /* margin:0; */
    font-family:Arial, Helvetica, sans-serif
}
.container{
    padding: 16px;

}
.container>div h2{
    text-align: center;
}
.intro{
    margin: -16px; /*16px/-16px*/
    padding: 16px;
    background-color: #2fe91e54;
    text-align: center;
}
.intro img{
    width: 300px;
    height: 350px;
}
.socials img{
    width: 20px;
    height: 20px;
}
.socials a{
    text-decoration:none;
    margin:auto 16px;
}
p{
    font-size: 1rem;
}
table,
tr,
th,
td{
    border:solid 1px;
    border-collapse: collapse;
}
th,td{
    padding:8px;
}
table{
    width:100%;
}
p{
  font-size:1.5rem;

}
.dynamic-text-color{
  color:#00000091;
}
form#contact{
    max-width: 400px;
    margin:auto;
    padding:16px;
    border: 1px solid;
    border-radius: 16px;

}
#contact label{
    display:block;
    font-weight: 600;

}
#contact input,#contact textarea,#contact button{
    width:100%;
}